 body{
  color: black;
  width: 100%;

  overflow-x: hidden;
    
}

p{
  margin-bottom: 0px;
  margin-left: : 0px;
  font-size: 1.2rem;
}

img{
  width: 100%;
}
a{
  display: inline-block;
 
  text-decoration: none;

}

h3{
  color:#121D25;
}

ul{
  text-align: center;
  z-index: 99;

  
}
div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}
.logo{
width: 100%;
  background:#0389A6; 
z-index: -1;
margin-top: 0px;
margin-bottom: 0px;

}

.titulo{
  font-family: 'Oleo Script Swash Caps', sans-serif;
  color: #E7342F;


}

.btn{
  text-decoration:none;
  color:#121D25;
  border-color: #121D25;
}


.btn:hover{
  text-decoration:none;
  color: black;
  border-color: #121D25;
 
}
.menu{
  color: #121D25;
  margin-top: 30px;
}
.table{
  background: red;
  position: sticky;
  top:0;
 
  
}


.cuerpo{
width: 100%;
  background: transparent; 
  color:#121D25;
z-index: -1;
margin-top: 0px;

  font-family: 'Quicksand', sans-serif;
  font-size: 17px;


}


#scroll {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:black;
    border-color: white;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.pie{
  background: #0389A6;
  border-top: solid 1px white;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1rem;
  color:#121D25;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Quicksand', sans-serif;
}

.piepag {
  font-size: 1.5rem;
  text-align: center;
  z-index: -1;
  color:#121D25;
  font-family: 'Oleo Script Swash Caps', sans-serif;

}



}

