/* GENERAL */
body{
  background: #FFD143;
  color: black;
  /*font-family: Georgia, Times, Times New Roman, serif  sans-serif;*/
  /*font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;}*/
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;

 
}
@keyframes anim{
    0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 5rem;
    top: 0rem;
    color: black;
  }
  30% {
    top: 5rem;
    left: 5rem;
    color: white;
  }
  60%{
    top: 5rem;
    left: 0;
    color: black;
  }
  100% {
    top: 0;
    left: 0;
  }
}


p{
  margin-bottom: 0px;
  margin-left: : 100px;
  font-size: 1.5rem;
}

/* FONDO */

.fondo{
  background: white;
}

img{
  width: 100%;
}

nav{
  background: #FF5A1D;
  letter-spacing: 5px;
}

/* BEBIDAS */
.imagen1{
  margin-top: 15px;
}
.cajeta1{
  margin-top: 10px;


}

.piña1{
  margin-top: 0px;
}

.fresa1{
  margin-top: 0px;
}

.crema1{
  margin-top: 0px;
}

.zarzamora1{
  margin-top: 0px;

}

.nutella1{
  margin-top: 0px;
}

.combinada21{
  margin-top: 0px;
}
.combinada31{
  margin-top: 0px;
}

.surtida1{
  margin-top: 0px;
  margin-bottom: 20px;

}
a#caj{
  .cajeta1{
    background-color: white;
  }
  
}

/* PIE DE PÁGINA */

.pie{
  border-top: solid 1px white;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Georgia, Times, Times New Roman, serif  sans-serif;
  font-size: 8;
}

.piepag {
  font-size: 1rem;
  text-align: center;
}

ul{
  text-align: center;
}

