 body{
  color: black;
  width: 100%;
    background: #FEFCEA;
  overflow-x: hidden;
}

p{
  margin-bottom: 0px;
  margin-left: : 0px;
  font-size: 1.2rem;
}

img{
  width: 100%;
}
a{
  display: inline-block;
 
  text-decoration: none;

}

h3{
  color:#121D25;
}

ul{
  text-align: center;
  z-index: 99;

  
}
div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}

.logo{
width: 100%;
background:#130F0C; 
z-index: -1;
margin-top: 0px;
margin-bottom: 0px;
position: center;

}
.menuDigital{
  margin-top: -50px;
  font-family: 'Cormorant Garamond', serif;
  margin-left: -39px;
}
.btnNav{
  margin-top: -50px;
  margin-left: -45px;
}
.asindex{
  margin-top: -15px;

}
.aspie{
  margin-top: 25px;
 
}

.textoBtn:hover{
  color:white;

  background-color:#0054AE; 
  border-radius: 7px;  

  display: flex;
   
    align-items: center;
   
}
@media (max-width:320px){
  
.menuDigital{
  font-size: 15px;
  margin-top: -40px;
  font-family: 'Cormorant Garamond', serif;
  margin-left: -39px;
}
.btnNav{
  margin-top: -40px;
  margin-left: -25px;
}
}
.titulo{
  font-family: 'Sorts Mill Goudy', serif;
  color: #375660 ;
  font-size: 17px;


}

.btn{
  text-decoration:none;
  color:white;
  border-color: white;
}


.btn:hover{
  text-decoration:none;
  color: black;
  border-color: #121D25;
 
}
.menu{
  color: #121D25;
  font-family: 'Questrial', sans-serif;
  margin-top: 0px;
}
.table {
  background: #130F0C;
  position: sticky;
  color:black;
  margin-bottom: 9px;
  top:0; 
}

.badge{
  font-family: 'Nunito Sans', sans-serif;
   background-color:#375660 ;
   vertical-align: middle;
}
.precios{
  margin-top: -30px;
}
.cuerpo{
width: 100%;
vertical-align: middle;
  background: transparent; 
  color:#313D52;
z-index: -1;
margin-top: 0px;
  font-family: 'Anek Kannada', sans-serif;
  font-size: 17px;


}

.desactivado{
    margin-top: 320px;
  font-size: 35px;



}
.cuerpo2{

  font-family: 'Questrial', sans-serif;
  font-size: 12px;
  color: #375660 ;
  margin-top: -10px;



}
.cuerpo3{

  font-family: 
  
  font-size: 8px;
   color:#313D52 ;

}
@media (max-width:320px){
  .cuerpo{
width: 100%;
  background: transparent; 
  color:#313D52;
z-index: -1;
margin-top: 0px;
  font-family: 'Anek Kannada', sans-serif;
  font-size: 12px;


}
.cuerpo2{

  font-family: 'Questrial', sans-serif;
  font-size: 9px;
   color: #375660 ;

}
.badge{
  font-size: 9px;
  background-color:#375660 ;
 
}
}

.precio{

  margin-left: -20px;
}

#scroll {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#375660 
;
    border-color: white;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#909090;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.pie{
  background: #130F0C;
  border-top: solid 1px white;
  margin-bottom: 0px;
  font-size: 1.1rem;
  color:white;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Anek Kannada', sans-serif;
}

.piepag {
  font-size: 1.5rem;
  text-align: center;
  z-index: -1;
  color:#121D25;
  font-family: 'Oleo Script Swash Caps', sans-serif;

}
.center{display:table;width:100%;background-color: #130F0C;
margin-top:-60px;
margin-bottom:;}
#social-test{display:table-cell;vertical-align:middle;text-align:center;font-size:30px}
#social-test h2{color:#fff;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100}
#social-test .social{padding-left:0}
#social-test a{color:#909090;list-style-type:none;display:inline-block;width:50px;height:50px;line-height:50px;padding:1%;border:1px solid rgba(167,146,129,.4);cursor:pointer;margin-left:10px;margin-bottom:20px;transition:ease .3s}
#social-test a:hover{color:#fff;border:1px solid #ccc}
.social:hover>a{opacity:.5}
.social:hover>a:hover{opacity:1}

@media (min-width:700px){
  
.center{display:table;width:100%;background-color: #130F0C;
margin-top:-120px;
margin-bottom:;}
}